:root{
  --friends-blue: #00009e;
  --friends-tan: #fff580;
  --friends-lightblue: #42a2d6;
  --friends-red: #9a0006;
  --friends-yellow: #ffdc00;
  --friends-violet: #a876e6;
  --friends-orange: #ff4238;
}

@font-face {
  font-family: friendsFont;
  src: url("../public/MINUS_CRE.ttf");
}
@font-face {
  font-family: "BerlinerGroteskLight";
  src: url("../public/Berliner\ Grotesk\ Light\ Regular.otf");
}
html{
  letter-spacing: .2rem;
  line-height: 2.5rem;
}

.App {
  text-align: center;
}

#app{
  width: 100%;
  height: 100vh;
  background: url("https://www.thewordfinder.com/friends-font-generator/assets/images/friends-bg.jpg");
  background-position: 50%;
  background-size: cover;
  display: flex;
  justify-content:center;
  align-items: center;
}

.quote-box{
  min-width: 550px;
  width: 70%;
  min-height: 200px;
  background-color: rgba(0, 0, 0, .7);
  
  border-radius: 40px;
  padding: 50px;
  
}
@media screen and (max-width: 669px) {
  .quote-box{
    min-width: 0;
    width: 100%;
    margin: 20px;
  }
}

.text-image-container{
  display: flex;
  align-items:center;
}

@media screen and (max-width: 669px) {
  .text-image-container{
    flex-direction: column-reverse;
  }
}

.quote-text{
  flex:2;
  width: 60%;
  color: white;
  font-family: friendsFont;
  padding-right: 20px;
}

@media screen and (max-width: 669px) {
  .quote-text{
    padding-right: 0px;
    width: 100%;
    text-align: center;
  }
}

.quote-text .quote{
  font-size: 30px;
  font-family: 'friendsFont';
  font-weight: 100;
}

@media screen and (max-width: 669px) {
  .quote-text .quote{
    margin-bottom: 10px;
  }
}

.quote-text .author{
  font-size: 25px;
  font-family: BerlinerGroteskLight, sans-serif;
}

@media screen and (max-width: 669px) {
  .quote-text .author{
    margin: 0;
  }
}
.portrait-container{
  border-radius: 100%;
  border: 4px solid;

  flex: 1;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items:flex-start;
  overflow: hidden;
}

@media screen and (max-width: 669px) {
  .portrait-container{
    max-width: 210px;
  }
  
}

.portrait-wrapper{
  width: 100%;
  padding-top: 100%; /* Creates a square container with 1:1 aspect ratio */
  position: relative;
  overflow: hidden;

}
.portrait-image{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}

.quoteButtonContainer{
  position: relative;
  bottom: -25px;
  display: flex;
  justify-content: center;
}

.newQuoteButton{
  background-color: rgba(0, 0, 0, .5);
  border: 2px solid white;
  padding: .6em 1.2em;
  color: white;
  font-size: 18px;
  font-family: BerlinerGroteskLight, sans-serif;
  font-weight: 600;
  letter-spacing: .2rem;
}
/*.newQuoteButton:hover{
  background-color: white;
  color: var(--friends-blue);
  border: 2px solid var(--friends-blue);
}*/


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
